<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.common.viewProcesses.header" "tool.common.viewProcesses.header" "")

<script type="text/javascript" src="script/jquery/jquery-1.2.6.min.js"></script>


<div class="fullymarginalized">
	<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
		<tr>
			<td>
				<div id="status"></div>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
//<![CDATA[
	(function() {
		function updateView()
		{
			console.log("Updatin... " + "$returnAddress");
			jQuery.getJSON('ViewProcess!showProcessesAsJSON.action?returnAddress=$!returnAddress&processId=$!processId&processName=$!processName', function(data) {
				if (data)
				{
					if (typeof data.redirect !== 'undefined')
					{
						document.location.href = data.redirect;
					}
					else
					{
						jQuery("#status").text(JSON.stringify(data));
					}
				}
			});
		};

		var interval = setInterval(function() {
			if (updateView())
			{
				clearInterval(interval);
			}
		}, 1000);
	})();
//]]>
</script>
</body>
</html>
